<template lang="pug">
	.game-wrapper.container

		header-component(
			:gameInfo='gameInfo',
			:reputation='reputation',
		)

		.board-wrapper

			.board

				.row.stats-container
					.col-12.regular.d-none.d-md-block
						stats-component(
							:gameInfo='gameInfo',
							:reputation='reputation',
						)

				.message-board-wrapper(
					v-if="activePage == 'quest'"
				)
					message-board-component(
						:sortedMessages='sortedMessages',
						:messages='messages',
						:singleMessage='singleMessage',
						@takeQuest="takeQuest"
						@showMessage="showMessage"
						@hideMessage="hideMessage"
					)

				.shop-board-wrapper(
					v-if="activePage == 'shop'"
				)
					shop-component(
						:shopItems='shopItems',
						:gameInfo='gameInfo',
						@buyItem="buyItem",
					)

				.game-over-wrapper(
					v-if="activePage == 'gameOver'"
				)
					game-over-component(
						@restartGame="restartGame",
					)

		footer-component(
			:infoMessageArray='infoMessageArray',
			@changePage="changePage"
		)

</template>

<script src="./game-component.js"></script>

<style lang="sass" src="./GameComponent.sass"></style>