.game-wrapper

	&.container
		padding: 0
		max-width: 1300px

	.board-wrapper
		display: flex
		align-items: center
		justify-content: center
		margin-top: 20px

		@media only screen and (max-width: 767px)
			margin-top: 127px

		@media only screen and (max-width: 356px)
			margin-top: 212px

		.board
			background-color: #e2fbe2
			padding: 15px 25px
			box-shadow: 0 0 10px #c1c1c1
			border-radius: 10px
			width: 100%
			max-width: 1300px

			.game-over-wrapper

				.title
					margin-top: 20px
					font-size: 40px

				.start-new-game
					margin-top: 20px
					font-size: 30px
					padding: 20px
					border-radius: 6px
					box-shadow: 0 0 10px #c1c1c1
					background-color: green
					color: white
					cursor: pointer


