<template lang="pug">

	.stats-container

		.game-info
			span.info
				img(
					alt="lives logo",
					class="stats_icon"
					src="@/assets/img/lives.png"
				)
				|  :{{ gameInfo.lives }}
			span.info
				img(
					alt="lives logo",
					class="stats_icon"
					src="@/assets/img/gold.png"
				)
				|  :{{ gameInfo.gold }}
			span.info
				img(
					alt="lives logo",
					class="stats_icon"
					src="@/assets/img/level.png"
				)
				|  :{{ gameInfo.level }}
			span.info
				img(
					alt="lives logo",
					class="stats_icon"
					src="@/assets/img/score.png"
				)
				|  :{{ gameInfo.score }}
			span.info
				img(
					alt="lives logo",
					class="stats_icon"
					src="@/assets/img/turn.png"
				)
				|  :{{ gameInfo.turn }}

		.reputation
			span.info
				| people : {{ round(reputation.people, 2) }} |
			span.info
				|  state : {{ round(reputation.state, 2) }} |
			span.info
				|  underworld : {{ round(reputation.underworld, 2) }}


</template>

<script src="./stats-component.js"></script>

<style lang="sass" src="./StatsComponent.sass"></style>