.stats-container
	font-family: cursive

	.info
		padding-right: 5px
		font-size: 20px
		.stats_icon
			height: 25px

	@media only screen and (max-width: 767px)
		.info
			padding-right: 5px
			font-size: 16px
			.stats_icon
				height: 25px