@import url(https://fonts.googleapis.com/css?family=Liu+Jian+Mao+Cao&display=swap)

body
	height: 100%
	width: 100%
	position: absolute
	background: url("../img/nature.jpg") no-repeat center center fixed
	-webkit-background-size: cover
	-moz-background-size: cover
	-o-background-size: cover
	background-size: cover

#app
	font-family: 'Liu Jian Mao Cao', cursive
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	text-align: center
	margin-top: 20px

	@media only screen and (max-width: 767px)
		margin-top: 0px