<template lang="pug">

	.row.header-container

		.col-12.regular.d-none.d-md-block

			img(
				alt="Dragon logo",
				class="game_logo"
				src="@/assets/img/dragon.png"
			)
			.title
				| Dragons of Mugloar

		.col-12.mobile.d-none.d-block.d-md-none

			.row
				.col-10
					img(
						alt="Vue logo",
						class="game_logo"
						src="@/assets/img/dragon.png"
					)

					.title
						| Dragons of Mugloar

				.col-12
					stats-component(
						:gameInfo='gameInfo',
						:reputation='reputation',
					)

			Slide(
				right
			)
				.sub-title
					| Dragons of Mugloar
				.info(
					v-for="(info, index) in gameInfo"
				)
					| {{ index }} : {{ info }}
				.info(
					v-for="(info, index) in reputation"
				)
					| {{ index }} : {{ round(info, 2) }}

</template>

<script src="./header-component.js"></script>

<style lang="sass" src="./HeaderComponent.sass"></style>