.header-container

	.game_logo
		height: 100px
		width: auto

	.title
		color: green
		font-size: 4rem

	.game-info
		font-size: 20px
		font-family: cursive

	.reputation
		font-size: 20px
		font-family: cursive

	.mobile
		position: fixed
		background-color: white
		z-index: 2
		right: 0
		padding-top: 7px
		box-shadow: 0 0 10px #c1c1c1
		padding-bottom: 10px

		.game_logo
			display: inline
			height: 50px
			padding-bottom: 10px
			padding-right: 5px

		.title
			display: inline
			font-size: 2rem

		.bm-menu
			font-family: cursive

		.bm-burger-button
			right: 20px !important
			top: 20px !important

		.bm-item-list>*
			padding: 2px