<template lang="pug">

	.game-over-container
		.title
			| GAME OVER
		.start-new-game(
			@click="restartGame"
		)
			| Start new game

</template>

<script src="./game-over-component.js"></script>

<style lang="sass" src="./GameOverComponent.sass"></style>