<template lang="pug">
	div#app
		GameComponent(
			msg="Dragons of Mugloar"
		)
</template>

<script>
    import GameComponent from './components/GameComponent/GameComponent.vue'

    export default {
        name: 'app',
        components: {
            GameComponent
        }
    }
</script>

<style lang="sass" src="./assets/css/main.sass"></style>
