.shop-container

	.shop-board-title
		font-size: 2rem
		padding-bottom: 15px

	.item
		background-color: white
		padding: 10px
		box-shadow: 0 0 10px #c1c1c1
		border-radius: 10px
		margin-bottom: 15px
		font-size: 1.5rem
		transition: box-shadow 0.3s ease-in-out
		cursor: pointer

		&.disabled
			background-color: #cecece
			cursor: no-drop

		&:not(.disabled):hover
			box-shadow: 0 0 10px yellow