<template lang="pug">

	.shop-container
		.row
			.col
				.shop-board-title
					| Shop
		.row
			.col-12.col-sm-6.col-md-4.col-lg-3(
			v-for="(shopItem, index) in shopItems"
			)
				.item(
				@click="buyItem(shopItem.id, gameInfo.gold < shopItem.cost)"
				v-bind:class="{ 'disabled': gameInfo.gold < shopItem.cost }"
				)
					.item-row
						| Name : {{ shopItem.name }}
					.item-row
						| Cost : {{ shopItem.cost }}

</template>

<script src="./shop-component.js"></script>

<style lang="sass" src="./ShopComponent.sass"></style>