<template lang="pug">

	.message-container
		.row
			.col
				.message-board-title
					| Message Board
		.row
			.col-12.col-md-8.left-side
				.row.category-row(
				v-for="(sortedMessagesArray, index) in sortedMessages"
				v-if="sortedMessagesArray.length > 0"
				)
					.col-12.category-title
						| {{ index }}
					.col-12.col-sm-6.col-md-4.col-lg-3(
					v-for="(message, index) in sortedMessagesArray"
					)
						.message(
						@mouseover="showMessage(message.adId)"
						@mouseleave="hideMessage()"
						@click="takeQuest(message.adId)"
						)
							.message-row
								| Message : {{ message.message }}
							.message-row
								| Reward : {{ message.reward }}
							.message-row
								| Expires in : {{ message.expiresIn }}
							.message-row.difficulty(
								v-bind:class="getDangerLevel(message.probability)"
							)
								| Difficulty : {{ message.probability }}
							.message-row(
								v-if='message.encrypted'
							)
								| Encryption lvl : {{ message.encrypted }}

			.col-4.d-none.d-md-block.right-side
				.message-row(
					v-if='singleMessage.message'
				)
					| Message : {{ singleMessage.message }}
				.message-row(
					v-if='singleMessage.reward'
				)
					| Reward : {{ singleMessage.reward }}
				.message-row(
					v-if='singleMessage.expiresIn'
				)
					| Expires in : {{ singleMessage.expiresIn }}
				.message-row.difficulty(
					v-bind:class="getDangerLevel(singleMessage.probability)"
					v-if='singleMessage.probability'
				)
					| Difficulty : {{ singleMessage.probability }}
				.message-row(
					v-if='singleMessage.encrypted'
				)
					| Encryption lvl : {{ singleMessage.encrypted }}

</template>

<script src="./message-board-component.js"></script>

<style lang="sass" src="./MessageBoardComponent.sass"></style>