.message-container

	.message-board-title
		font-size: 2rem
		padding-bottom: 15px

	.message-row
		overflow: hidden

		&.difficulty

			&.gray
				color: gray

			&.green
				color: green

			&.yellow
				color: #c3d005

			&.orange
				color: orange

			&.red
				color: red

			&.purple
				color: purple

	.left-side

		.category-row
			border-bottom: 1px solid gray

			&:last-child
				border-bottom: none

			.category-title
				display: block
				width: 100%
				text-align: left
				font-size: 2rem
				padding-bottom: 5px
				text-transform: capitalize

			.message
				background-color: white
				padding: 10px
				box-shadow: 0 0 10px #c1c1c1
				border-radius: 10px
				margin-bottom: 15px
				font-size: 11px
				transition: box-shadow 0.3s ease-in-out
				cursor: pointer

				@media only screen and (max-width: 767px)
					font-size: 20px

				&:hover
					box-shadow: 0 0 10px green

	.right-side
		border-left: 1px solid gray
		font-family: cursive
		font-size: 1.5rem
		overflow: hidden