<template lang="pug">

	.footer-container

		.current-info(
		v-if="infoMessageArray.length > 0"
		)
			.info-row(
			v-for="(message, index) in infoMessageArray"
			)
				| {{ message }}

		radial-menu(
		style="margin: auto; position: fixed; font-family: initial; right: 15px; bottom: 15px; background-color: green; color:white; z-index: 5; cursor: pointer"
		:itemSize="60"
		:radius="120"
		:angle-restriction="90"
		)
			radial-menu-item(
			v-for="(item, index) in menuItems"
			:key="index"
			style="background-color: green; cursor: pointer"
			@click="() => changePage(item)"
			)
				span
					| {{item}}

</template>

<script src="./footer-component.js"></script>

<style lang="sass" src="./FooterComponent.sass"></style>